@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    /* margin: 0px;
    padding: 0px; */
}
body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    width: 450px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.signup {
    width: 450px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.hideloginsignup{
    display: none;
}

.myEmail{
    margin: auto;
    margin-bottom: 20px;
    height: 35px;
    width: 75%;
}

.myPass{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 35px;
    width: 76%;
    align-items: center;
}

.myPassinput{
    height: 100%;
    flex: 1;
}

.eye{
    border: 1px solid;
    padding: 2px 2px;
    height: 34px;
    width: 20px;
    border-radius: 2px;
}

.hide{
    display: none;
}

.eye:hover{
    cursor: pointer;
}

.remember{
    font-size: small;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 76%;
}

.me{
    margin-right: 100px;
    flex: 1;
}

.mySubmit{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 35px;
    width: 75%;
    background-color: rgb(0, 119, 255);
    border: 0px solid;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: bold;
}

.mySubmit:hover{
    cursor: pointer;
}

.notaccount{
    font-size: small;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 76%;
}